.logo img {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #F9F5F6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #69626D;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 100px;
}

header nav a {
    color: #69626D;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
}

header nav a:hover {
    color: #E8C7DE;
}

.training-intro {
    text-align: center;
    background-color: #E8C7DE;
    color: #69626D;
    padding: 50px 20px;
}

.training-intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.training-intro p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #D9BDC5;
    padding: 40px 20px;
    gap: 20px;
}

.features div {
    margin: 10px;
    padding: 10px;
    background-color: #69626D;
    border-radius: 8px;
    display: inline-block;
    width: 200px;
}

.features div:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.features h2 {
    font-size: 1.5em;
    color: #69626D;
    margin-bottom: 10px;
}


footer {
    background-color: #69626D;
    color: #69626D;
    padding: 10px;
}